*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: #f4fdf7;
  color: #1c1c1c;
  line-height: 1.6;
  padding: 0 20px;
}

header{
  background: linear-gradient(90deg, #4CAF50, #81C784, #4DB6AC);
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#Navbar a{
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;

}

#Navbar a:hover{
  color: #e0f2f1;
}




h1, h2, h3, h4{
  margin-top: 30px;
  color: #2e7d32;
}

h1{
  font-size: 2rem;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 5px;
}

h2{
  font-size: 1.6rem;
  margin-bottom: 10px;
}

h4{
  font-size: 1.2rem;
  font-weight: normal;
  color: #388e3c;
  margin-top: 40px;
}

p{
  margin-bottom: 20px;
  font-size: 1.05rem;
}

ul{
  padding-left: 20px;
  margin-bottom: 30px;
}

li{
  margin-bottom: 12px;
}

#tresd{
 color: #2e6e68;
}

img{
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  display: block;
}

main section{
  margin-bottom: 50px;
}

h1, h2{
  transition: transform 0.3s ease;
}

#voltar{
font-size: 50px;
text-decoration: none;
color: #0bb473;
}


h1:hover, h2:hover{
  transform: scale(1.02);
}

@media (max-width: 768px){
  body{
    padding: 0 10px;
  }

  header{
    text-align: center;
  }

  #Navbar a{
    display: block;
    margin: 10px 0;
    font-size: 1.1rem;
  }

  h1{
    font-size: 1.6rem;
  }

  h2{
    font-size: 1.3rem;
  }

  p, li{
    font-size: 1rem;
  }

  img{
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  h1{
    font-size: 1.4rem;
  }

  h2{
    font-size: 1.15rem;
  }

  #Navbar a{
    font-size: 1rem;
  }

  p, li{
    font-size: 0.95rem;
  }

  img{
    width: 100%;
    height: auto;
  }
}